<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 实体类映射01 -->
<mapper namespace="com.entity.MoveBooking">
	<select id="findAll" resultType="com.entity.MoveBooking">
		select id, area, cartype, movedate,contact, phone, status from move_booking
	</select>
</mapper>